form
{
	div
	{
		margin-right: 16px;
		display: inline-block;
	}

	fieldset
	{
		margin: 16px 0;
	}

	#textarea
	{
		width: 100%;

		textarea
		{
			resize: vertical;
			width: 100%;
		}
	}

	label
	{
		display: block;
	}

	button
	{
		display: block;
		margin: auto;
		margin-top: 12px;
	}
}
