h1, h2
{
	text-align: center;
}

table, tr, td, th
{
	border: 2px solid black;
	border-collapse: collapse;
}

td, th
{
	padding: 12px;
}

table
{
	margin: auto;

	&:last-of-type
	{
		margin-bottom: 64px;
	}
}

form
{
	display: grid;
	grid-template-columns: auto auto;
	width: 768px;
	margin: auto;

	label
	{
		display: block;
	}

	fieldset:first-of-type
	{
		grid-row: 1 / 3;
	}

	#a1
	{
		/* grid-column: 3 / 3; */
	}

	#a2
	{
		grid-column: 2 / 2;
	}

	button
	{
		margin-top: 12px;
		grid-column: span 2;
	}
}
